* {
    padding: 0; 
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap:  nowrap;
    flex-flow:row wrap;
    align-items: center;
    align-content:center;
    max-width: 975px;
}

.header-logo {
    width:auto;
    object-fit: contain;
    height: 70px;
    padding: 33px 35px 37px 0;
}

.nav-top ul {
    display:flex;
    justify-content: space-between;
}
.nav-top li {
    display:flex;
    list-style: none;
    height: 70px;
    padding: 0 20px;
    align-items: center;

}
.nav-top a {
    text-decoration:none;
    color: #000;
    font-size: 18px;
    font-style: 'semibold';
    font-weight: 500;
    font-family: 'Karla';
}

.hero {
    background-color: #495e57;
    height: 380px;
    width:100%
}

.hero-section {
    display: flex;
    align-content: center;
    justify-content: space-between;
    max-width: 940px;
    margin: 0 auto;
}

.hero-section-text {
    height:320px;
}

.hero-title {
    margin-top:25px;
    color: hsla(50, 91%, 52%, 1);
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    height:77px;
}
.hero-subtitle {
    color: #fff;
    font-size: 40px;
    font-family: 'Markazi Text';
    font-weight: 400;
    margin-bottom:20px;
}
.hero-description {
    color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Karla';
    width: 277px;
    height: 116px;
    justify-content: center;
    margin-bottom:20px
}

.hero-reserve-button {
    width: 211px;
    height: 60px;
    align-items: flex-start;
    border: 0.2px solid #000;
    border-radius: 16px;
    background-color: #f4ce14;
}
.hero-reserve-button-text {
    color: #000;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Karla';
  z-index: 0;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

.hero-section-image {
    margin-top:25px;
    z-index: 2;
    width: 360px;
    height: 440px;
    border-radius: 16px;
}
.promo-section {
    height:600px;
}
.promo-title {
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    color: #000000;
}
.promo-menu-button {
    width: 200px;
    height: 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #F4CE14;
    border: 1px solid #000000;
    border-radius: 16px;
    color: #000;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Karla';
  z-index: 0;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

.chakra-card {
    width:268px;
    height:400px;
    background-color: #EDEFEE;
    border: 1px solid #d3d3d3;
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.chakra-card-image {
    height:168px;
    border-radius:16px;
}
.chakra-card-content {
    margin: 17px  20px  27px 17px;
}
.chakra-card-title {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.chakra-card-price {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #EE9972;
}

.chakra-card-description {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #495E57;
}
.chakra-card-order {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

@media only screen and (max-width: 1070px) {
    .hero-section {
        gap:20.15px;
    }
  }
